.cooDrawer{
    &-mask{
        position: fixed;
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        z-index: 1000;
        background-color: rgba(0, 0, 0, .15);
        animation: cooFadeIn .3s ease;
        transition: opacity .3s ease;
        &--hidden{
            display: none;
        }
    }
    &-wrap{
        position: fixed;
        transition: all .3s ease;
        z-index: 1000;
        overflow: hidden;
        &--hidden{
            display: none;
        }
        &--top{
            top: 0px;
            right: 0px;
            left: 0px;
            animation: cooSlideTopIn .3s ease;
        }
        &--right{
            top: 0px;
            bottom: 0px;
            right: 0px;
            animation: cooSlideRightIn .3s ease;
        }
        &--bottom{
            bottom: 0px;
            left: 0px;
            right: 0px;
            animation: cooSlideBottomIn .3s ease;
        }
        &--left{
            left: 0px;
            top: 0px;
            bottom: 0px;
            animation: cooSlideLeftIn .3s ease;
        }
    }
    &-header{

    }
    &-body{

    }
    &-button{
        position: absolute;
        border: none;
        outline: none;
        font-size: 20px;
        cursor: pointer;
        color: #666666;
        transition: .2s ease;
        box-sizing: border-box;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        &:hover{
            color: #000;
        }
        &:active{
            background-color: rgba(0, 0, 0, .05);
        }
        &--top{
            left: 50%;
            margin-left: -25px;
            padding-bottom: 25px;
            margin-bottom: -30px;
            bottom: 0;
            box-shadow: 0px -2px 8px rgba(0, 0, 0, 0.15);
        }
        &--right{
            left: 0%;
            top: 50%;
            margin-top: -25px;
            padding-left: 25px;
            margin-left: -30px;
            box-shadow: 2px 0 8px rgba(0, 0, 0, 0.15);
        }
        &--bottom{
            width: 50px;
            height: 50px;
            padding-top: 25px;
            left: 50%;
            margin-top: -30px;
            margin-left: -25px;
            box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
        }
        &--left{
            right: 0%;
            top: 50%;
            margin-right: -30px;
            margin-top: -25px;
            padding-right: 25px;
            box-shadow: -2px 0px 8px rgba(0, 0, 0, 0.15);
        }
    }
    &-content{
        background-color: #ffffff;
        height: 100%;
        width: 100%;
        overflow: auto;
    }
}
