@import "variables";
@import "animation";
@import "transition";
@import "select";
@import "modal";
@import "button";
@import "switch";
@import "collapse";
@import "tabs";
@import "drawer";
@import "icon";
@import "loading";
@import "toast";
@import "coolpanel";
@import "lazyimg";
@import "placebo";
@import "dropdown";

body{
    color: #3c4043;
}
.cooClearfix{
    &:after{
        content: '';
        clear: both;
        display: table;
    }
}