@import "animation";
@import "select";
@import "modal";
@import "button";
@import "switch";
@import "collapse";
@import "tabs";

.cooClearfix{
    &:after{
        content: '';
        clear: both;
        display: table;
    }
}