.cooPlacebo{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1001;
    background-color: rgba(165, 165, 165, .15);
    transition: opacity .5s ease;
    animation: cooFadeIn .5s ease;
    &-progress{
        position: absolute;
        top: 0;
        height: 2px;
        animation: cooPlaceboLoading 1.3s linear infinite;
    }

    &--hidden{
        display: none;
    }
}

@keyframes cooPlaceboLoading {
    0%{
        left: 0;
        right: auto;
        width: 0;
    }
    50%{
        left: auto;
        right: auto;
        width: 100%;
    }
    50.5%{
        right: 0;
        left: auto;
        width: 100%;
    }
    100%{
        right: 0;
        width: 0;
    }
}