.cooSelect{
    display: inline-block;
    position: relative;
    &-header{
        border: 1px solid $gray;
        box-sizing: border-box;
        padding: 0px 30px 0px 10px;
        border-radius: $borderRadius;
        cursor: pointer;
        user-select: none;
        transition: all .3s ease;
        position: relative;
        font-size: 14px;
        &--open{
            border-color: $blue;
        }
    }
    &-label{
        user-select: none;
    }
    &-placeholder{
        color: #999999;
        &--hidden{
            display: none;
        }
    }
    &-arrow{
        position: absolute;
        top: 50%;
        right: 6px;
        line-height: 1;
        font-size: 16px;
        margin-top: -8px;
        transform-origin: 50% 50%;
        transition: all .3s ease;
        &--open{
            transform: rotate(180deg);
        }
    }
    &-dropdown{
        background-color: white;
        box-shadow: 0 0px 4px #d9d9d9;
        border-radius: $borderRadius;
        box-sizing: border-box;
        z-index: 100;
        position: absolute;
        outline: none;
        transform-origin: 0 0;
        animation-duration: .5s;
        animation-fill-mode: both;
        animation-timing-function: cubic-bezier(0.08, 0.82, 0.17, 1);
        animation-name: cooDropdownSlideUpIn;
        &--hidden{
            display: none;
        }
    }
    &-menu{
        cursor: pointer;
        padding: 6px 15px;
        line-height: 22px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        user-select: none;
        transition: all .3s;
        font-size: 14px;
        &--selected{
            background-color: #f5f5f5;
            color: #000000;
        }
        &:hover{
            background-color: #f5f5f5;
        }
    }

    &--default{
        .cooSelect{
            &-header{
                padding: 6px 15px;
                line-height: 22px;
            }
        }
    }

    &--small{

    }

    &--large{

    }
    &--disabled {
        .cooSelect{
            &-header{
                background-image: linear-gradient(0deg, #f8f8f8, #efefef);
                background-color: $white;
                color: #999;
                cursor: not-allowed;
            }
        }
    }
}

.slideUp {
    &-enter{
        animation-duration: .5s;
        animation-fill-mode: both;
        animation-timing-function: cubic-bezier(0.08, 0.82, 0.17, 1);
        animation-name: cooDropdownSlideUpIn;
    }

    &-exit{
        animation-duration: .5s;
        animation-fill-mode: both;
        opacity: 1;
        animation-timing-function: cubic-bezier(0.6, 0.04, 0.98, 0.34);
        animation-name: cooDropdownSlideUpOut;
    }
}