.cooTab{
    &-header{
        border-bottom: 1px solid #efefef;
        position: relative;
    }
    &-bar{
        height: 1px;
        background-color: #4d90fe;
        position: absolute;
        bottom: -1px;
        transition: all .3s ease;
    }
    &-content{
        overflow: hidden;
    }
    &-item{
        float: left;
        padding: 16px 20px;
        transition: all .3s ease;
        cursor: pointer;
        user-select: none;
        touch-callout: none;
        &--active{
            color: #4d90fe;
        }
    }
    &-panel{
        float: left;
        transition: all .3s ease;
        opacity: 0;
        &--active{
            opacity: 1;
        }
    }
    &-wrapper{
        transition: transform .3s ease;
    }
}