.cooToast{
    display: block;
    padding: 0px 30px;
    margin-bottom: 20px;
    right: 50%;
    position: relative;
    transition: opacity .5s ease;
    animation: cooFadeIn 1s ease;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: rgba(0, 0, 0, .6);
    border-radius: $borderRadius;
    border-style: solid;
    border-width: 1px;
    color: $white;
    &--tip{
        height: 40px;
        line-height: 40px;
        font-weight: 600;
    }

    &--loading{
        text-align: center;
        padding: 20px;
        box-sizing: border-box;
        .cooIcon{
            font-size: 25px;
        }
    }

    &-content{
        margin-top: 10px;
        font-weight: 600;
    }

    &-container{
        position: fixed;
        top: 60px;
        z-index: 1001;
        left: 50%;
    }
    &-close{
        position: absolute;
        right: 5px;
        top: 5px;
        color: #999;
        line-height: 1;
        transition: all .2s ease;
        cursor: pointer;
        &:hover{
            color: #ffffff;
        }
    }
}