$borderRadius: 2px;

$white: #fff;
$error: #f5222d;
$warn: #faad14;

$primaryColor: #fff;
$primaryBgColor: #4d90fe;
$primaryBorderColor: #3079ed;
$primaryHoverBgColor: #357ae8;
$primaryHoverBorderColor: #2f5bb7;

$successColor: #fff;
$successBgColor: #35BD64;
$successHoverBgColor: #4fa05a;

$normalColor: #666;
$normalBgColor: #f8f8f8;
$normalBorderColor: #c6c6c6;

$transparentPrimaryColor: #1a73e8;
$transparentPrimaryHoverBgColor: #e8f0fe;

$transparentNormalColor: #5f6368;
$transparentNormalHoverBgColor: rgba(26,115,232,0.039);

$shallowBg: #e8f0fe;

$maskBgColor: rgba(0, 0, 0, .75);