.demo--coostore{
    .cooButton{
        margin-right: 10px;
    }
    .level{
        margin-left: 10px;
        padding: 10px;
        border: 1px solid #efefef;
        margin-top: 10px;
        &-name{
            margin-bottom: 10px;
        }
    }
}