/*
基础样式
*/

body, h1, h2, h3, p, div, ol, ul, li, input, button {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    background-color: #f1f5f8;
    width: 100%;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

ol, ul {
    list-style: none
}

a {
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -moz-tap-highlight-color: rgba(0, 0, 0, 0);
    -o-tap-highlight-color: rgba(0, 0, 0, 0);
    tap-highlight-color: rgba(0, 0, 0, 0);
    color: #333;
}

button, textarea, img {
    border: 0;
    background: transparent;
}

ol, ul {
    list-style: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

hr {
    border-width: 0;
    border-top: 1px solid #333;
    border-bottom: 1px solid #222;
    margin: 0;
    height: 0;
    clear: both;
}

input {
    height: 45px;
    line-height: 45px;
    width: 100%;
    display: inline-block;
    background-color: #fff;
    border: 1px solid #BEBFBF;
    -webkit-box-shadow: 0 2px 1px 0 #dfdfdf;
    -moz-box-shadow: 0 2px 1px 0 #dfdfdf;
    -ms-box-shadow: 0 2px 1px 0 #dfdfdf;
    box-shadow: 0 2px 1px 0 #dfdfdf;

    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px;
    outline: none;
    padding: 8px 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 14px;
}

.input-code {
    width: 50%;
}

.btn-code {
    width: calc(50% - 10px);
    margin-left: 10px;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.clearfix:after {
    content: ' ';
    display: block;
    height: 0;
    visibility: hidden;
    clear: both;
}

.mt05 {
    margin-top: 5px;
}

.mt10 {
    margin-top: 10px;
}

.mt15 {
    margin-top: 15px;
}

.mt20 {
    margin-top: 20px;
}

.mt25 {
    margin-top: 25px;
}

.mt30 {
    margin-top: 30px;
}

.block {
    display: block;
    width: 100%;
}

.radius-none {
    border-radius: 3px !important;
    -webkit-border-radius: 3px !important;
    -moz-border-radius: 3px !important;
    -ms-border-radius: 3px !important;
}

.btn {
    height: 45px;
    line-height: 45px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -webkit-box-shadow: 0 2px 1px 0 #dfdfdf;
    -moz-box-shadow: 0 2px 1px 0 #dfdfdf;
    -ms-box-shadow: 0 2px 1px 0 #dfdfdf;
    box-shadow: 0 2px 1px 0 #dfdfdf;
    display: inline-block;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

.btn-primary {
    border: 1px solid #ccc;
    background: #ececec;
    background: -webkit-linear-gradient(top, #f9f9f9, #e7e9eb);
    background: -moz-linear-gradient(top, #f9f9f9, #e7e9eb);
    background: -ms-linear-gradient(top, #f9f9f9, #e7e9eb);
    background: linear-gradient(top, #f9f9f9, #e7e9eb);
    color: #333;

}

.btn-primary:active {
    background: -webkit-linear-gradient(top, #D0CCCC, #F4F5F5);
    background: -moz-linear-gradient(top, #D0CCCC, #F4F5F5);
    background: -ms-linear-gradient(top, #D0CCCC, #F4F5F5);
    background: linear-gradient(top, #D0CCCC, #F4F5F5);
}

.btn-blue {
    border: 1px solid #0e78e7;
    background-color: #0e78e7;
    background-image: -moz-linear-gradient(top, #0e7bef, #0d73da);
    background-image: -ms-linear-gradient(top, #0e7bef, #0d73da);
    background-image: -webkit-linear-gradient(top, #0e7bef, #0d73da);
    background-image: -o-linear-gradient(top, #0e7bef, #0d73da);
    background-image: linear-gradient(top, #0e7bef, #0d73da);
    background-repeat: repeat-x;
    color: #fff;
}

.btn-blue:active {
    background-color: #0767c8;
    background-image: -moz-linear-gradient(top, #086ed5, #055db5);
    background-image: -ms-linear-gradient(top, #086ed5, #055db5);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#086ed5), to(#055db5));
    background-image: -webkit-linear-gradient(top, #086ed5, #055db5);
    background-image: -o-linear-gradient(top, #086ed5, #055db5);
    background-image: linear-gradient(top, #086ed5, #055db5);
    background-repeat: repeat-x;
}

header {
    background: rgb(11, 36, 47);
    position: relative;
    height: 44px;
    border-bottom: 1px solid #efefef;
    box-shadow: inset 0 -1px 6px rgba(0, 0, 0, .1);
}

.header-back {
    position: absolute;
    display: block;
    display: block;
    width: 20px;
    height: 30px;
    padding: 7px;
}

.header-back:active {
    background: rgba(255, 255, 255, 0.2);
    color: #00b4ff
}

.header-back i {
    font-size: 30px;
    color: #fff;
}

.header-title {
    display: block;
    line-height: 44px;
    height: 44px;
    text-align: center;
    font-size: 16px;
    color: #fff;
}

.conver-link {
    display: block;
    width: 100%;
    height: 100%;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    -webkit-tap-highlight-color: rgba(0, 119, 220, 0.2);
    -o-tap-highlight-color: rgba(0, 119, 220, 0.2);
    -moz-tap-highlight-color: rgba(0, 119, 220, 0.2);
    tap-highlight-color: rgba(0, 119, 220, 0.2);
}

.hide {
    display: none !important;
}

.mask {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.3);
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -moz-transition: all 0.3s;

}

.mask.alert-info {
    background: rgba(0, 0, 0, 0.3);
}

.mask.alert-danger {
    background: rgba(230, 9, 9, 0.5);
}

.mask.alert-success {
    background: rgba(223, 240, 216, 0.5);
}

/*滑动删除*/
#main-container {
    margin: 5px;
    overflow: hidden;
    position: relative;
}

.list-slip-group {
    width: 100%;
    overflow: hidden;
}

.list-slip-item {
    padding-left: 10px;
    height: 60px;
    background-color: #fff;

    border: 1px solid #efefef;

}

.slip-item {
    position: relative;
}

.plus-desc {
    padding: 13px 0;
    height: 34px;
    text-align: left;
}

.plus-desc h2 {
    position: relative;
    height: 15px;
    padding-left: 24px;
    font-size: 15px;
    font-weight: 400;
    color: #262626;
}

.plus-desc h2 .fa {
    position: absolute;
    top: 0;
    left: -2px;
}

.plus-desc p {
    height: 15px;
    margin-top: 6px;
    font-size: 15px;
    color: #777;
}

.delete-item {
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    display: -moz-box;
    -moz-box-orient: horizontal;
    -moz-box-pack: center;
    -moz-box-align: center;
    display: -o-box;
    -o-box-orient: horizontal;
    -o-box-pack: center;
    -o-box-align: center;
    display: -ms-box;
    -ms-box-orient: horizontal;
    -ms-box-pack: center;
    -ms-box-align: center;
    display: box;
    box-orient: horizontal;
    box-pack: center;
    box-align: center;

    -webkit-border-bottom-right-radius: 3px;
    -moz-border-bottom-right-radius: 3px;
    -o-border-bottom-right-radius: 3px;
    border-bottom-right-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -moz-border-top-right-radius: 3px;
    -o-border-top-right-radius: 3px;
    border-top-right-radius: 3px;

    position: absolute;
    top: 0px;
    text-align: center;
    right: -61px;
    height: 60px;
    width: 60px;
    line-height: 60px;
    background-color: #ac2925;
    color: #fff;
    margin-top: 1px;
    z-index: 2;
}

.delete-item:active {
    box-shadow: 0 0px 2px #999 inset;
    -webkit-box-shadow: 0 0px 2px #999 inset;
    -moz-box-shadow: 0 0px 2px #999 inset;
    -o-box-shadow: 0 0px 2px #999 inset;
}

.fa-facebook {
    color: #06C;
}

.fa-apple {
    color: #CCC;
}

.fa-weixin {
    color: #609700;
}

.fa-twitter {
    color: #06C;
}

/*幻灯片*/

.slider, .slider-item {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.slider-inner {
    height: 100%;
    width: 100%;
}

.slider {
    position: relative;
}

.slider-item {
    position: absolute;
    left: 0px;
    top: 0px;
}

.slider-page {
    position: absolute;
    bottom: 20px;
    overflow: hidden;
    z-index: 20;
    left: 50%;
    transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);

}

.slider-page span {
    display: inline-block;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    color: #fff;
    background: rgba(100, 100, 100, 0.8);
    padding: 4px;
    margin-right: 4px;
    margin-left: 4px;
}

.slider-page span.active {
    background-color: #0692CE;
}

.loading {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 50;
    transform: translate(-50%, -50%);
    -webkit-animation: loading 01.0s linear infinite;
}

@-moz-keyframes loading {
    0% {
        -moz-transform: rotate(0deg);
    }
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-o-keyframes loading {
    0% {
        -o-transform: rotate(0deg);
    }
    100% {
        -o-transform: rotate(360deg);
    }
}

@-webkit-keyframes loading {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes loading {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.slide-image {
    width: 100%;
    height: 100%;
    background-size: cover;
}

/*分页控件*/
.pager-outter {
    background-color: #FFF;
    border: 1px solid #f0f0f0;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    -o-border-radius: 1px;
    border-radius: 1px;
}

.pager {
    width: 100%;
    background-color: #FFF;
}

.pager a, .pager > span {
    display: block;
    height: 45px;
    line-height: 45px;
    float: left;
}

.pager span.page {
    width: 40%;
    height: 21px;
    line-height: 21px;
    margin-top: 12px;
    box-sizing: border-box;
    border-left: 1px solid #f0f0f0;
    border-right: 1px solid #f0f0f0;
    font-size: 15px;
    color: #666;
    text-align: center;
}

span.page span {
    display: inline;
    line-height: 21px;
}

.pager .prev, .pager .next {
    width: 30%;
    text-align: center;
}

a.next:active, a.prev:active {
    background-color: #fafafa;
    color: #00b4ff
}

a.prev, a.next {
    color: #666;
}

span.prev, span.next {
    color: #ccc;
}

/*加载更多*/

.loadmore-wrap {
    display: block;
    padding: 1em;
    position: relative;
    text-align: center;
    color: #d54544;
    font-size: 16px;
    background-color: #fff;
}

.loadmore-wrap:active {
    background-color: #efefef;
}

.loadmore-wrap.active:after {
    display: none;
}

.loadmore-wrap:after {
    content: "";
    display: inline-block;
    border: 0 solid #e12e38;
    border-width: 0 0 2px 2px;
    width: 8px;
    height: 8px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    margin-left: 8px;
    position: relative;
    top: -4px;
}

/*滚动加载更多*/

.scroll-in {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    overflow: scroll;
}

.loadover {
    text-align: center;
    line-height: 44px;
    height: 44px;
    color: #999;
}

/*弹出框*/
.dialog {
    background-color: #fff;
    width: 80%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    top: 50%;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
}

.dialog-message {
    text-align: center;
    font-size: 1.5em;
    padding: 40px 20px 10px;

}

.dialog-btns {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.dialog-btns a {
    width: 50%;
    border: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    border-radius: 0px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    box-shadow: none;
    border-top: 1px solid #ccc;
    height: 40px;
    line-height: 40px;
}

.dialog-btns a.btn-confirm {
    border-left: 1px solid #ccc;
}

.dialog-btns a.btn-cancel {
    background: none;
    background-color: #eee;
    color: #999;
}

/*提示信息*/
.tip {
    position: fixed;
    width: 250px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    background: rgba(0, 0, 0, 0.8);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    color: #fff;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    position: relative;;
}

.close-tip {
    position: absolute;
    top: -5px;
    right: -5px;
    color: #fff;
}

/*长按*/
.list-hold-item {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.list-hold-item:active {
    background-color: #f0f0f0;
}

/*图片剪辑*/

.cut-container {
    width: 100%;
    height: 400px;
    overflow: hidden;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

.cut-container:hover {
    cursor: move;
}

.overlay-outter {
    position: absolute;
    left: 50%;
    top: 0px;
    transform: translate(-50%, 0%);
    -webkit-transform: translate(-50%, 0%);
    -moz-transform: translate(-50%, 0%);
    -o-transform: translate(-50%, 0%);
    width: 200px;
    height: 200px;
    border: 120px solid rgba(163, 16, 75, 0.5);
    z-index: 3;
}

.overlay {
    width: 100%;
    height: 100%;
    border: 2px solid #de3c50;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

.overlay-inner {
    width: 100%;
    height: 100%;
}

.overlay:before, .overlay:after, .overlay-inner:before, .overlay-inner:after {
    content: '';
    display: block;
    position: absolute;
    width: 15px;
    height: 15px;
    border: 8px solid #b92c28;
}

.overlay:before {
    left: -3px;
    top: -3px;
    border-right: 0px;
    border-bottom: 0px;
}

.overlay:after {
    right: -3px;
    top: -3px;
    border-left: 0px;
    border-bottom: 0px;
}

.overlay-inner:before {
    left: -3px;
    bottom: -3px;
    border-right: 0px;
    border-top: 0px;
}

.overlay-inner:after {
    right: -3px;
    bottom: -3px;
    border-left: 0px;
    border-top: 0px;
}

.cut-container img {
    position: absolute;
}

.btn-cut {
    background-color: #00b4ff;
    border-color: #428bca;
    color: #fff;
    width: 80px;
    position: absolute;
    right: 0px;
    z-index: 15;
}

/*SlideTab*/
.tab-header {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    background: #f8f8f9;
    background-color: #f1f1f2;
    background-image: -moz-linear-gradient(top, #f8f8f9, #e6e6e8);
    background-image: -ms-linear-gradient(top, #f8f8f9, #e6e6e8);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f8f8f9), to(#e6e6e8));
    background-image: -webkit-linear-gradient(top, #f8f8f9, #e6e6e8);
    background-image: -o-linear-gradient(top, #f8f8f9, #e6e6e8);
    background-image: linear-gradient(top, #f8f8f9, #e6e6e8);
    background-repeat: repeat-x;
    padding-top: 5px;
}

.tab-header > div {
    justify-content: space-between;
    width: 50%;
    -moz-box-flex: 1;
    -webkit-box-flex: 1;
    -ms-box-flex: 1;
    box-flex: 1;
}

.tab-header a {
    display: block;
    width: 100%;
    text-align: center;
    height: 35px;
    line-height: 35px;
}

.tab-header .active a {
    background-color: #fff;
}

.tab-content {
    background-color: #fff;
    width: 100%;
    overflow: hidden;
    position: relative;
    height: 300px;
}

.tab-content-inner {
    position: absolute;
    left: 0px;
    top: 0px;
}

.tab-item {
    float: left;
}

/*SlideList*/
.module {
    border: 1px solid #d9dde2;
    background-color: #ffffff;
}

.module-title {
    height: 40px;
    line-height: 40px;
    padding: 0px 15px;
}

.module-title i {
    color: #0066CC;
}

.module-content {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.module-content ul {
    padding: 0px 10px;
    white-space: nowrap;
    position: absolute;
}

.module-content ul li {
    display: inline-block;
    margin-left: 5px;
    padding-bottom: 5px;
}

.module-content ul li:first-child {
    margin-left: 0px;
}

.module-content ul li a {
    display: inline-block;
    position: relative;
}

.module-content ul li img {
    display: block;
    width: 80px;
    border: 1px solid #efefef;
    padding: 2px;
}

.module-content ul li p {
    position: absolute;
    bottom: 3px;
    left: 0px;
    line-height: 20px;
    font-size: 12px;
    text-align: center;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
}

/* Side-Push-Menu */
.push-container {
    background: url("../images/bg.jpg") left top no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.slide-push-menu-outter {
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 80%;
    background-color: rgba(11, 29, 53, 1);
    box-shadow: 0px -10px 50px 50px rgba(11, 29, 53, 1);
    z-index: 0;
}

.slide-push-menu-mask {
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
    z-index: 2;
}

.slide-push-menu {
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
    left: 0px;
    bottom: 0px;
    transform-origin: 0% 50%;
}

.current-user {
    padding: 20px;
}

.current-user img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.menus {
    padding: 20px;
}

.menus a {
    display: inline-block;
    width: 75%;
    height: 50px;
    line-height: 50px;
    color: #fff;
    font-size: 16px;
    font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif, "宋体";
}

.menus a i {
    margin-right: 10px;
}

.push-main-content {
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #f9f9f9;
    position: absolute;
    z-index: 3;
    left: 0px;
    top: 0px;
    transform-origin: 50% 50%;
}

.push-main-content-mask {
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
    position: absolute;
    left: 0px;
    top: 0px;
}

/*SignUp*/

.login-panel {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.login-panel .logo {
    height: 100px;
}

.timeout-reget {
    width: calc(50% - 5px);
    margin-left: 5px;
    display: inline-block;
    background-color: #eee;
    color: #666;
    height: 44px;
    line-height: 44px;
    text-align: center;
}

.form-feedback a {
    color: #246183;
}

/*searchbar*/
.search-wrapper {
    padding: 5px;
}

.search-input {
    position: relative;
    line-height: 40px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
}

.search-input i.fa-search {
    position: absolute;
    left: 8px;
    top: 15px;
    font-size: 14px;
    color: #e1e4e5;
}

.search-input a.to-search, .search-input input {
    display: block;
    border: 1px solid #ccc;
    background-color: #fff;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    -ms-border-radius: 1px;
    border-radius: 1px;
    color: #999;
    height: 45px;
    line-height: 45px;
    padding-left: 28px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -ms-box-flex: 1;
    box-flex: 1;
}

.search-input input {
    padding-right: 24px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    border-radius: 0px;
}

.btn-search {
    width: 80px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    border-radius: 0px;
    border-left: 0px;
}

.search-input input {
    outline-style: none;
    font-size: 14px;
}

.search-input span {
    display: block;
    padding: 0 8px;
    margin-left: 10px;
}

.search-input .clearInput {
    position: absolute;
    right: 90px;
    top: 3px;
    color: #999;
    font-size: 18px;
    z-index: 2;
}

.search-list-keys h2 {
    font-size: 16px;
    font-weight: normal;
    color: #999;
    padding-left: 10px;
    line-height: 25px;
}

.hot-keys {
    padding: 15px 10px 10px 20px;
    background-color: #fff;
}

.hot-keys a {
    display: inline-block;
    padding: 3px 10px;
    border: 1px solid #eee;
    height: 25px;
    line-height: 25px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    margin-right: 10px;
    margin-bottom: 5px;
}

.hot-keys a:active {
    background-color: #efefef;
}

.search-bar {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
}

.suggest-panel {
    position: relative;
}

.suggest-content {
    position: absolute;
    left: 0px;
    top: 0px;
    border: 1px solid #ccc;
    border-top: 0px;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: 0 2px 1px 0 #dfdfdf;
    -moz-box-shadow: 0 2px 1px 0 #dfdfdf;
    -ms-box-shadow: 0 2px 1px 0 #dfdfdf;
    box-shadow: 0 2px 1px 0 #dfdfdf;
    z-index: 10;
    background-color: #fff;
}

.suggest-content a {
    display: block;
    padding: 0px 10px;
    height: 35px;
    line-height: 35px;
    border-bottom: 1px solid #f0f0f0;
    font-size: 16px;
    color: #333;
}

.suggest-content a:active {
    background-color: #efefef;
}

.suggest-content a:last-child {
    border-bottom: 0px;
}

/*dropdown*/
.dropdown-wraper {
    position: relative;
}

.dropdown-menu {
    width: 120px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    background: #0B242F;
    box-shadow: -1px 2px 1px rgba(0, 0, 0, .5);
    -webkit-box-shadow: -1px 2px 1px rgba(0, 0, 0, .5);
    -moz-box-shadow: -1px 2px 1px rgba(0, 0, 0, .5);
    -ms-box-shadow: -1px 2px 1px rgba(0, 0, 0, .5);
    position: absolute;
    top: 0px;
    right: 0px;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -moz-transition: all 0.3s;
}

.dropdown-menu li {
    text-align: left;
}

.dropdown-menu li a {
    display: block;
    height: 44px;
    line-height: 44px;
    padding: 0px 20px;
    color: #fff;
    border-top:1px solid rgba(60, 62, 64, 0.5);
    text-shadow: 0 1px 1px rgba(0, 0, 0, .12);
    text-decoration: none;
}

.dropdown-menu li a:active {
    background-color: #000;
}

.dropdown-menu li:last-child a, .dropdown-menu li:last-child {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

a.close-dropdown {
    position: relative;
}

a.close-dropdown:after {
    content: "";
    display: inline-block;
    border: 0 solid rgba(255, 255, 255, 0.5);
    border-width: 1px 0px 0px 1px;
    width: 8px;
    height: 8px;
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
    -moz-transform: translate(-50%, -50%) rotate(45deg);
    -ms-transform: translate(-50%, -50%) rotate(45deg);
    transform: translate(-50%, -50%) rotate(45deg);
    position: absolute;
    left: 50%;
    top: 50%;
}

.nav-setting{ width: 120px; position: absolute; right: 0px; top: 0px; height: 44px; line-height: 44px; text-align: right;  }
.btn-dropdown{ display:inline-block; width: 44px;height: 44px; color: #fff; text-align: center; font-size: 14px;}
.btn-dropdown:active{ background: rgba(255, 255, 255, 0.2);}