/*
基础样式
*/
html {
    font-size: 100px;
}

body, h1, h2, h3, p, div, ol, ul, input, button {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    background-color: #fff;
    width: 100%;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

ol, ul {
    list-style: none
}

a {
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -moz-tap-highlight-color: rgba(0, 0, 0, 0);
    -o-tap-highlight-color: rgba(0, 0, 0, 0);
    tap-highlight-color: rgba(0, 0, 0, 0);
    color: #333;
}

input, button, textarea, img {
    border: 0;
    background: transparent;
}

ol, ul {
    list-style: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

hr {
    border-width: 0;
    border-top: 1px solid #333;
    border-bottom: 1px solid #222;
    margin: 0;
    height: 0;
    clear: both;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.clearfix:after {
    content: ' ';
    display: block;
    height: 0;
    visibility: hidden;
    clear: both;
}

.mt05 {
    margin-top: 5px;
}

.mt10 {
    margin-top: 10px;
}

.mt15 {
    margin-top: 15px;
}

.mt20 {
    margin-top: 20px;
}

.mt25 {
    margin-top: 25px;
}

.mt30 {
    margin-top: 30px;
}

.btn {
    height: 34px;
    line-height: 34px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    display: inline-block;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: center;
}

.btn-cancel {
    background-color: #C4C4C4;
    border-color: #CCC;
    color: #fff;
}

.btn-cancel:focus {
    background-color: #CCC;
    border-color: #255625;
}

.btn-cancel:hover, .btn-cancel:active {
    background-color: #CCC;
    border-color: #398439;
}

.btn-cancel:active:focus {
    background-color: #CCC;
    border-color: #255625;
}

.btn-confirm {
    background-color: #00b4ff;
    border-color: #428bca;
    color: #fff;
}

.btn-confirm:focus {
    background-color: #01ABF1;
    border-color: #428bca;
}

.btn-confirm:hover, .btn-confirm:active {
    background-color: #01ABF1;;
    border-color: #428bca;
}

.btn-confirm:active:focus {
    background-color: #01ABF1;
    border-color: #46b8da;
}

.conver-link {
    display: block;
    width: 100%;
    height: 100%;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    -webkit-tap-highlight-color: rgba(0, 119, 220, 0.2);
    -o-tap-highlight-color: rgba(0, 119, 220, 0.2);
    -moz-tap-highlight-color: rgba(0, 119, 220, 0.2);
    tap-highlight-color: rgba(0, 119, 220, 0.2);
}

.hide {
    display: none !important;
}

.mask {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, 0.3);
}

/*滑动删除*/
body {
    background-color: #f9f9f9;
}

#main-container {
    margin: 5px;
    overflow: hidden;
}

.list-slip-group {
    width: 100%;
    overflow: hidden;
}

.list-slip-item {
    padding-left: 10px;
    height: 60px;
    background-color: #fff;
    margin-bottom: 5px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #fafafa;
    -webkit-box-shadow: 0px 1px 0px #f0f0f0;
    -moz-box-shadow: 0px 1px 0px #f0f0f0;
    box-shadow: 0px 1px 0px #f0f0f0;
}

.list-slip-item:last {
    margin-bottom: 0px;
}

.slip-item {
    position: relative;
}

.plus-desc {
    padding: 13px 0;
    height: 34px;
    text-align: left;
}

.plus-desc h2 {
    position: relative;
    height: 15px;
    padding-left: 24px;
    font-size: 15px;
    font-weight: 400;
    color: #262626;
}

.plus-desc h2 .fa {
    position: absolute;
    top: 0;
    left: -2px;
}

.plus-desc p {
    height: 12px;
    margin-top: 6px;
    font-size: 12px;
    color: #777;
}

.delete-item {
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    display: -moz-box;
    -moz-box-orient: horizontal;
    -moz-box-pack: center;
    -moz-box-align: center;
    display: -o-box;
    -o-box-orient: horizontal;
    -o-box-pack: center;
    -o-box-align: center;
    display: -ms-box;
    -ms-box-orient: horizontal;
    -ms-box-pack: center;
    -ms-box-align: center;
    display: box;
    box-orient: horizontal;
    box-pack: center;
    box-align: center;

    -webkit-border-bottom-right-radius: 3px;
    -moz-border-bottom-right-radius: 3px;
    -o-border-bottom-right-radius: 3px;
    border-bottom-right-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -moz-border-top-right-radius: 3px;
    -o-border-top-right-radius: 3px;
    border-top-right-radius: 3px;

    position: absolute;
    top: 0px;
    text-align: center;
    right: -61px;
    height: 60px;
    width: 60px;
    line-height: 60px;
    background-color: #ac2925;
    color: #fff;
    margin-top: 1px;
    z-index: 2;
}

.delete-item:active {
    box-shadow: 0 0px 2px #999 inset;
    -webkit-box-shadow: 0 0px 2px #999 inset;
    -moz-box-shadow: 0 0px 2px #999 inset;
    -o-box-shadow: 0 0px 2px #999 inset;
}

.fa-facebook {
    color: #06C;
}

.fa-apple {
    color: #CCC;
}

.fa-weixin {
    color: #609700;
}

.fa-twitter {
    color: #06C;
}

/*幻灯片*/

 #slider, .slider-item {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#slider {
    position: relative;
}

.slider-item {
    position: absolute;
    left: 0px;
    top: 0px;
    background-size: cover;
}

#slider-page {
    position: absolute;
    bottom: 20px;
    overflow: hidden;
    z-index: 20;
    left: 50%;
    transform: translate(-50%, 0);
    background: rgba(0, 0, 0, 0.5);
    padding: 3px 10px;
    border-radius: 18px;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    -o-border-radius: 18px;
    border: 1px solid #333;
}

#slider-page span {
    display: inline-block;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    color: #fff;
    background-color: #000;
    border: 1px solid #EBE8E7;
    padding: 5px;
    margin-right: 3px;
    margin-left: 3px;
}

#slider-page span.active {
    background-color: #900;
}

#loading {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 50;
    transform: translate(-50%, -50%);
    -webkit-animation: loading 01.0s linear infinite;
}

@-moz-keyframes loading {
    0% {
        -moz-transform: rotate(0deg);
    }
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-o-keyframes loading {
    0% {
        -o-transform: rotate(0deg);
    }
    100% {
        -o-transform: rotate(360deg);
    }
}

@-webkit-keyframes loading {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes loading {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/*分页控件*/
.pager-outter {
    background-color: #FFF;
    border: 1px solid #f0f0f0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
}

.pager {
    width: 100%;
    background-color: #FFF;
}

.pager a, .pager > span {
    display: block;
    height: 35px;
    line-height: 35px;
    float: left;
}

.pager span.page {
    width: 40%;
    height: 21px;
    line-height: 21px;
    margin-top: 7px;
    box-sizing: border-box;
    border-left: 1px solid #f0f0f0;
    border-right: 1px solid #f0f0f0;
    font-size: 15px;
    color: #666;
    text-align: center;
}

span.page span {
    display: inline;
    line-height: 21px;
}

.pager .prev, .pager .next {
    width: 30%;
    text-align: center;
}

a.next:active, a.prev:active {
    background-color: #fafafa;
    color: #00b4ff
}

a.prev, a.next {
    color: #666;
}

span.prev, span.next {
    color: #ccc;
}

/*加载更多*/
.btn-loadmore {
    display: block;
    background-color: #fff;
    text-align: center;
    line-height: 46px;
    padding: 2px;
    color: #428bca;
    font-size: 16px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #fafafa;
    -webkit-box-shadow: 0px 1px 0px #f0f0f0;
    -moz-box-shadow: 0px 1px 0px #f0f0f0;
    box-shadow: 0px 1px 0px #f0f0f0;
    margin-top: 5px;
}

.btn-loadmore:active {
    background-color: #eee;
}

.btn-loadmore.active {

}

.btn-loadmore.active:after {
    display: none;
}

.btn-loadmore:after {
    content: "";
    display: inline-block;
    border: 0 solid #428bca;
    border-width: 0 0 2px 2px;
    width: 8px;
    height: 8px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    margin-left: 8px;
    position: relative;
    top: -4px;
}

.loding-info {
    text-align: center;
    line-height: 20px;
    height: 20px;
    color: #999;
}

.loading {
    content: "";
    display: inline-block;
    margin: 0 15px 4px;
    padding: 0;
    border: 0;
    background: 0;
    width: 3px;
    height: 3px;
    border-radius: 100%;
    box-shadow: 0 -10px 0 .9px #666, 10px 0 #999, 0 10px #999, -10px 0 #999, -7px -7px 0 .4px #999, 7px -7px 0 1.1px #666, 7px 7px #999, -7px 7px #999;
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-animation: loading 1.5s linear infinite;
    -moz-animation: loading 1.5s linear infinite;
    -o-animation: loading 1.5s linear infinite;
    animation: loading 1.5s linear infinite
}

@keyframes loading {
    from {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(360deg)
    }
}

@-moz-keyframes spin {
    from {
        -moz-transform: rotate(0deg)
    }
    to {
        -moz-transform: rotate(360deg)
    }
}

@-o-keyframes spin {
    from {
        -o-transform: rotate(0deg)
    }
    to {
        -o-transform: rotate(360deg)
    }
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg)
    }
    to {
        -webkit-transform: rotate(360deg)
    }
}

/*滚动加载更多*/

.scroll-in{ position: absolute; left: 0px; top:0px; width: 100%; height: 100%; overflow: scroll;}

.loadmore{
    text-align: center;
    height: 30px;
    line-height: 30px;
}
.loadover{ text-align: center; line-height: 30px; height: 30px; color: #999;}
/*弹出框*/
.dialog {
    background-color: #fff;
    width: 80%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    top: 50%;
    padding: 10px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border: 1px solid #f0f0f0;
}

.dialog-message {
    text-align: center;
    font-size: 1.3em;
    line-height: 1.5em;
    margin-top: 20px;
}

.dialog-btns {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 10px;
}

.dialog-btns a {
    width: 40%;
}

/*提示信息*/
.tip {
    position: fixed;
    width: 250px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    background: rgba(0, 0, 0, 0.8);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    color: #fff;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    position: relative;;
}

.close-tip {
    position: absolute;
    top: -5px;
    right: -5px;
    color: #fff;
}

