.tip {
    position: fixed;
    width: 250px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    background: rgba(0, 0, 0, 0.8);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    color: #fff;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    position: relative;;
}

.close-tip {
    position: absolute;
    top: -5px;
    right: -5px;
    color: #fff;
}