@font-face {
  font-family: 'icomoon';
  src:    url('fonts/icomoon.eot?3ltkp6');
  src:    url('fonts/icomoon.eot?3ltkp6#iefix') format('embedded-opentype'),
  url('fonts/icomoon.ttf?3ltkp6') format('truetype'),
  url('fonts/icomoon.woff?3ltkp6') format('woff'),
  url('fonts/icomoon.svg?3ltkp6#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dialog:before {
  content: "\e900";
}
.icon-loading:before {
  content: "\e901";
}
.icon-null:before {
  content: "\e902";
}
.icon-pull:before {
  content: "\e903";
}
.icon-select:before {
  content: "\e904";
}
.icon-tab:before {
  content: "\e905";
}
.icon-toggle:before {
  content: "\e906";
}

