/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import "compass/reset";
@import "compass/css3";
@import "compass/utilities";
@import "fonticon";

body, html {
  height: 100%;
}

body {
  font: 14px/1.6 arial, helvetica, sans-serif;
  background-color: #F0F0F0;
}

#main-body {
  height: 100%;
  width: 100%;
  max-width: 768px;
  margin-left: auto;
  margin-right: auto;
  background-color: #f5f5f5;
}

a {
  text-decoration: none;
}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.clearfix {

}