/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'icomoon';
  src: url("fonts/icomoon.eot?nqm757");
  src: url("fonts/icomoon.eot?nqm757#iefix") format("embedded-opentype"), url("fonts/icomoon.ttf?nqm757") format("truetype"), url("fonts/icomoon.woff?nqm757") format("woff"), url("fonts/icomoon.svg?nqm757#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 12, ../sass/_fonticon.scss */
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 27, ../sass/_fonticon.scss */
.icon-dialog:before {
  content: "\e900";
}

/* line 30, ../sass/_fonticon.scss */
.icon-loading:before {
  content: "\e901";
}

/* line 33, ../sass/_fonticon.scss */
.icon-pull:before {
  content: "\e902";
}

/* line 36, ../sass/_fonticon.scss */
.icon-select:before {
  content: "\e903";
}

/* line 39, ../sass/_fonticon.scss */
.icon-tab:before {
  content: "\e904";
}

/* line 42, ../sass/_fonticon.scss */
.icon-toggle:before {
  content: "\e905";
}

@font-face {
  font-family: 'icomoon';
  src: url("fonts-component/icomoon.eot?ps6mru");
  src: url("fonts-component/icomoon.eot?ps6mru#iefix") format("embedded-opentype"), url("fonts-component/icomoon.ttf?ps6mru") format("truetype"), url("fonts-component/icomoon.woff?ps6mru") format("woff"), url("fonts-component/icomoon.svg?ps6mru#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 12, ../sass/_fonticon_c.scss */
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 27, ../sass/_fonticon_c.scss */
.icon-down:before {
  content: "\e900";
}

/* line 30, ../sass/_fonticon_c.scss */
.icon-up:before {
  content: "\e901";
}

/* line 11, ../sass/screen.scss */
body, html {
  height: 100%;
}

/* line 15, ../sass/screen.scss */
body {
  font: 14px/1.6 arial, helvetica, sans-serif;
  background-color: #F0F0F0;
}

/* line 20, ../sass/screen.scss */
#main-body {
  height: 100%;
  width: 100%;
  max-width: 768px;
  margin-left: auto;
  margin-right: auto;
  background-color: #f5f5f5;
}

/* line 29, ../sass/screen.scss */
a {
  text-decoration: none;
}

/* line 33, ../sass/screen.scss */
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
