/*µ¯³ö¿ò*/
.dialog {
    background-color: #fff;
    width: 80%;
    box-sizing: border-box;
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    top: 50%;
    border-radius: 2px;

}

.dialog-title {
    background-color:rgb(11, 36, 47);
    color: #ffffff;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    padding: 0px 10px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.dialog-message {
    text-align: center;
    font-size: 1.3em;
    padding: 30px 20px;

}

.btn-cancel {
    border: 0px;
    width: 50%;
    background-color: #fff;
    background-image:none ;
    border-top: 1px solid #e5e5e5;
    border-radius: 0px;
    border-right: 1px solid #e5e5e5;
    box-shadow: none;
}

.btn-confirm {
    border: 0px;
    width: 50%;
    background-color: #fff;
    background-image:none ;
    border-top: 1px solid #e5e5e5;
    border-radius: 0px;
    box-shadow: none;
}

.btn-cancel:active, .btn-cancel:focus, .btn-cancel:hover,.btn-confirm:active, .btn-confirm:focus, .btn-confirm:hover {
    background:RGBA(201,216,219,0.2);

}