.coo-accordion{

}
.coo-accordion-item{
    position: relative;
}
.coo-accordion-item:last-child{
    margin-bottom: 0px;
}

.coo-btn-accordion{
    display: block;
    background-color: #ffffff;
    height: 40px;
    line-height: 40px;
    box-sizing: border-box;
    padding-left: 32px;
    color: #000000;
    border-bottom: 1px solid #f0f0f0;
    position: relative;
}

.coo-ico{
    height: 14px;
    width: 14px;
    background-image: url('./right.png');
    background-size: 14px 14px;
    position: absolute;
    top: 13px;
    left: 10px;
    transition: all 0.4s ease;
}
.coo-ico-open{
    transform: rotate(90deg);
}
.coo-accordion-body{
    transition: all 0.4s ease;
    height: 0;
    overflow: hidden;
}
.coo-accordion-body-inner{

}