.coo-mask{
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
}
.coo-hidden{
    display: none;
}
.coo-dialog{
    position: fixed;
    z-index: 13;
    width: 85%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: #FAFAFC;
    border-radius: 3px;
}

@media screen and (min-width: 1024px){
    .coo-dialog {
        width: 35%;
    }
}

.coo-dialog-header{
    padding: 1.2rem 20px .5rem;
    text-align: center;
    font-size: 17px;
}

.coo-dialog-body{
    padding: 0 20px;
}

.coo-dialog-footer{
    position: relative;
    line-height: 42px;
    margin-top: 20px;
    font-size: 17px;
    display: flex;
}

.coo-dialog-footer:after {
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 1px;
    border-top: 1px solid #D5D5D6;
    color: #D5D5D6;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
}

.coo-dialog-footer a{
    display: block;
    flex: 1;
    color: #3CC51F;
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    text-align: center;
    position: relative;
}
.coo-dialog-footer a:active {
    background-color: #EEEEEE;
}
.coo-dialog-footer a.coo-btn-dialog-cancel{
    color: #353535;
}
.coo-dialog-footer a:last-child:after{
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    width: 1px;
    height: 100%;
    border-left: 1px solid #D5D5D6;
    color: #D5D5D6;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scaleX(0.5);
    transform: scaleX(0.5);
}