@import "normalize";

html, body{
    background: transparent;
    -webkit-overflow-scrolling: touch;

}

body {
    font-family: Circular, PingFang-SC, "Hiragino Sans GB", 微软雅黑, "Microsoft YaHei", "Heiti SC" !important;
    font-size: 13px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: rgba(72, 72, 72, 1);
}
dd, dl, dt, p, nav, div, ul,li, header, h1, h2, h3, h4, h5, h6,iframe, button{
    margin: 0px;
    padding: 0px;
}

ul, li{
    list-style: none;
}

a {
    text-decoration: none;
    color: #333;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    clear: both;
    visibility: hidden;
}
html, body, #app{
    height: 100%;
}
.layout{
    position: relative;
    height: 100%;
}

.header{
    height: 79px;
    line-height: 79px;
    border-bottom: 1px solid rgb(228, 228, 228);
    color: rgb(0, 132, 137);
    font-size: 20px;
    padding-left: 20px;
}

.nav{
    position: absolute;
    top:  80px;
    bottom: 0px;
    width: 150px;
    padding-right: 20px;
    border-right: 1px solid rgb(228, 228, 228);
    background-color: #ffffff;
    max-height: calc( 100% - 80 );
    overflow-y: auto;
    &-item{

    }
    &-link{
        display: block;
        font-size: 14px;
        height: 45px;
        line-height: 45px;
        padding-left: 40px;
        position: relative;
        border-bottom: 1;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        transition: all .2s ease;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        &:hover{
            background-color: #f5f5f5;
        }
        &--active{
            background-color: #e8f0fe;
            color: rgb(0, 132, 137);
            .nav-icon{
                color: rgb(0, 132, 137);
            }
        }
        &:hover{

        }
    }
    &-icon{
        position: absolute;
        top: 50%;
        font-size: 18px;
        margin-top: -23px;
        left: 10px;
    }
}
.content{
    position: absolute;
    left: 175px;
    right: 0px;
    top: 80px;
    bottom: 0px;
    overflow-y: auto;
}

.demo{
    margin: 30px;
    a{
        color: rgb(0, 132, 137);
        text-decoration: underline;
    }
    &-title{
        font-size: 30px;
        font-weight: normal;
    }
    &-description{
        padding: 30px 0px;
        line-height: 1.5;
        font-weight: 700;
        i{
            background-color: rgba(249,217,66,.4)
        }
    }
}

.panel{
    border: 1px solid #efefef;
    margin-bottom: 30px;
    position: relative;
    &-title{
        font-weight: normal;
        font-size: 20px;
        padding: 0px 10px;
        background-color: #ffffff;
        display: inline-block;
        position: absolute;
        left: 20px;
        top: -10px;
        color: #000000;
    }
    &-content{
        padding: 30px;
    }
    &-litetitle{
        padding: 10px 0px;
        font-size: 14px;
        i{
            background-color: rgba(249,217,66,.4);
        }
    }
    &-line{
        margin-bottom: 10px;
        &:last-child{
            margin-bottom: 0px;
        }
    }
}


.gh-btn {
    background-color: #eee;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fcfcfc), color-stop(100%, #eee));
    background-image: -webkit-linear-gradient(top, #fcfcfc 0, #eee 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fcfcfc), to(#eee));
    background-image: linear-gradient(to bottom, #fcfcfc 0, #eee 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfcfc', endColorstr='#eeeeee', GradientType=0);
    background-repeat: no-repeat;
    border: 1px solid #d5d5d5;
    font: bold 11px/14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    height: 20px;
    overflow: hidden;
    padding: 2px 5px 2px 4px;
    line-height: 20px;
    border-radius: 10px;
    margin-left: 20px;
}

.gh-btn:hover, .gh-btn:focus {
    text-decoration: none;
    background-color: #ddd;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #eee), color-stop(100%, #ddd));
    background-image: -webkit-linear-gradient(top, #eee 0, #ddd 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #eee), to(#ddd));
    background-image: linear-gradient(to bottom, #eee 0, #ddd 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#dddddd', GradientType=0);
    border-color: #ccc;
}

.gh-btn:active {
    background-image: none;
    background-color: #dcdcdc;
    border-color: #b5b5b5;
    -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15);
}

.gh-ico {
    width: 14px;
    height: 14px;
    margin-right: 4px;
    background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjEiIGlkPSJMYXllcl8xIiB4PSIwcHgiIHk9IjBweCIgd2lkdGg9IjQwcHgiIGhlaWdodD0iNDBweCIgdmlld0JveD0iMTIgMTIgNDAgNDAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMTIgMTIgNDAgNDAiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxwYXRoIGZpbGw9IiMzMzMzMzMiIGQ9Ik0zMiAxMy40Yy0xMC41IDAtMTkgOC41LTE5IDE5YzAgOC40IDUuNSAxNS41IDEzIDE4YzEgMC4yIDEuMy0wLjQgMS4zLTAuOWMwLTAuNSAwLTEuNyAwLTMuMiBjLTUuMyAxLjEtNi40LTIuNi02LjQtMi42QzIwIDQxLjYgMTguOCA0MSAxOC44IDQxYy0xLjctMS4yIDAuMS0xLjEgMC4xLTEuMWMxLjkgMC4xIDIuOSAyIDIuOSAyYzEuNyAyLjkgNC41IDIuMSA1LjUgMS42IGMwLjItMS4yIDAuNy0yLjEgMS4yLTIuNmMtNC4yLTAuNS04LjctMi4xLTguNy05LjRjMC0yLjEgMC43LTMuNyAyLTUuMWMtMC4yLTAuNS0wLjgtMi40IDAuMi01YzAgMCAxLjYtMC41IDUuMiAyIGMxLjUtMC40IDMuMS0wLjcgNC44LTAuN2MxLjYgMCAzLjMgMC4yIDQuNyAwLjdjMy42LTIuNCA1LjItMiA1LjItMmMxIDIuNiAwLjQgNC42IDAuMiA1YzEuMiAxLjMgMiAzIDIgNS4xYzAgNy4zLTQuNSA4LjktOC43IDkuNCBjMC43IDAuNiAxLjMgMS43IDEuMyAzLjVjMCAyLjYgMCA0LjYgMCA1LjJjMCAwLjUgMC40IDEuMSAxLjMgMC45YzcuNS0yLjYgMTMtOS43IDEzLTE4LjFDNTEgMjEuOSA0Mi41IDEzLjQgMzIgMTMuNHoiLz48L3N2Zz4=');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
    margin-top: -4px;
}

.loading{
    text-align: center;
    padding-top: 30px;
    color: #666666;
}
