html{ font-size:10px; width:100%;}
body,h1,h2,h3,p,div,ol,ul,input,button {margin:0px;padding:0px;}
body {font-family: Arial,Helvetica,sans-serif; font-size:14px;  background-color:#f6f6f6; width:100%;  }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}
ol,ul {list-style: none}
a {text-decoration: none;-webkit-tap-highlight-color: rgba(0,0,0,0);-moz-tap-highlight-color: rgba(0,0,0,0);-o-tap-highlight-color: rgba(0,0,0,0);tap-highlight-color: rgba(0,0,0,0); color:#333;}
input,button,textarea,img{border: 0; background: transparent;}
ol,ul{list-style:none}
table {border-collapse:collapse;border-spacing:0}
hr{border-width: 0;border-top: 1px solid #333;border-bottom: 1px solid #222;margin: 0;height: 0;clear: both;}
.fl{ float:left;}
.fr{ float:right;}
.clearfix:after{ content:' ';display:block; height:0; visibility:hidden;clear:both;}
.layout{ width: 980px; margin-left: auto; margin-right: auto;}
.mt05{ margin-top:5px;}
.mt10{ margin-top:10px;}
.mt15{ margin-top:15px;}
.mt20{ margin-top:20px;}
.mt25{ margin-top:25px;}
.mt30{ margin-top:30px;}
.btn{height:34px;
  line-height:34px;
  border-radius:4px;
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  -ms-border-radius:4px;
  display:inline-block;
  text-align:center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align :center;
  padding: 0px 40px; background-color: #ac2925; color:#fff;
}
.conver-link{display:block;width:100%;height: 100%;-webkit-border-radius: 3px;-moz-border-radius: 3px;-o-border-radius: 3px;border-radius: 3px;position: absolute;top: 0;left: 0;z-index: 2;-webkit-tap-highlight-color: rgba(0,119,220,0.2);-o-tap-highlight-color: rgba(0,119,220,0.2);-moz-tap-highlight-color: rgba(0,119,220,0.2);tap-highlight-color: rgba(0,119,220,0.2);}
.hide{ display:none;}
.layout{ width: 500px; margin-left: auto; margin-right: auto}
.list-slip-group{ width:100%; overflow:hidden; background-color:#fff;}
.list-slip-item{ padding-left:10px;height: 62px; border-bottom: 1px solid #eeeef0;}
.slip-item{ position:relative;}
.plus-desc {
  padding: 13px 0;
  height: 34px;
  text-align: left;
}
.plus-desc h2 {
  position: relative;
  height: 15px;
  padding-left: 24px;
  font-size: 15px;
  font-weight: 400;
  color: #262626;
}
.plus-desc h2 .fa{ 
  position: absolute;
  top: 0;
  left: -2px;
}
.plus-desc p {
  height: 12px;
  margin-top: 6px;
  font-size: 12px;
  color: #777;
}
.delete-item{ 
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  display: -moz-box;
  -moz-box-orient: horizontal;
  -moz-box-pack: center;
  -moz-box-align: center;
  display: -o-box;
  -o-box-orient: horizontal;
  -o-box-pack: center;
  -o-box-align: center;
  display: -ms-box;
  -ms-box-orient: horizontal;
  -ms-box-pack: center;
  -ms-box-align: center;
  display: box;
  box-orient: horizontal;
  box-pack: center;
  box-align: center;
  position:absolute; top:0px;   text-align:center; right:-60px; height:60px;width:60px; line-height:60px; background-color:#ac2925; color:#fff; margin-top:1px;}
.delete-item:active{box-shadow:0 0px 2px #999 inset; -webkit-box-shadow:0 0px 2px #999 inset; -moz-box-shadow:0 0px 2px #999 inset; -o-box-shadow:0 0px 2px #999 inset;}
.fa-facebook{ color:#06C;}
.fa-apple{ color:#CCC;}
.fa-weixin{ color:#609700;}
.fa-twitter{color:#06C;}

/*分页控件*/
.pager-outter{ margin-top:8px; padding:5px; background-color:#FFF;border: 1px solid #eeeef0;}
.pager{ display:table; width:100%; background-color:#FFF;}
.pager a,.pager span{  display: table-cell;height:22px; line-height:22px;}
span.page{ width:40%; box-sizing:border-box; border-left:1px solid #eeeef0;border-right:1px solid #eeeef0; text-align:center; font-size:15px;  color: #999;}
span.page em{ color:#000;}
.pager .prev,.pager .next{ width:30%; -webkit-tap-highlight-color: rgba(0,0,0,0.2);-o-tap-highlight-color: rgba(0,0,0,0.2);-moz-tap-highlight-color: rgba(0,0,0,0.2);tap-highlight-color: rgba(0,0,0,0.2); }
a.prev{ background:url(../images/prev.png) 20% center no-repeat; background-size:20px;}
span.prev{ background:url(../images/prev-gray.png) 20% center no-repeat; background-size:20px;}
a.next{ background:url(../images/next.png) 80% center no-repeat; background-size:20px;}
span.next{ background:url(../images/next-gray.png) 80% center no-repeat; background-size:20px;}

/*加载更多*/
.btn-loadmore {
  width:100%; 
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;

}
.btn-loadmore:focus {
  background-color: #449d44;
  border-color: #255625;
}
.btn-loadmore:hover,.btn-loadmore:active {
  background-color: #449d44;
  border-color: #398439;
}
.btn-loadmore:active:focus
 {
  background-color: #398439;
  border-color: #255625;
}

.btn-cancel{ background-color:#E1E1E1; color:#fff;}
.btn-cancel:focus {
  background-color: #CCC;
  border-color: #255625;
}
.btn-cancel:hover,.btn-cancel:active {
  background-color: #CCC;
  border-color: #398439;
}

.btn-cancel:active:focus
 {
  background-color: #CCC;
  border-color: #255625;
}

.btn-confirm{   background-color: #5bc0de;
  border-color: #46b8da;color:#fff;}

.btn-confirm:focus {
   background-color: #4AB0CD;
  border-color: #46b8da;
}
.btn-confirm:hover,.btn-confirm:active {
   background-color: #4AB0CD;;
  border-color: #46b8da;
}

.btn-confirm:active:focus
 {
  background-color: #4AB0CD;
  border-color: #46b8da;
}


.loading{ animation:2s linear key-loading infinite;
-webkit-animation:2s linear key-loading infinite;
-ms-animation:2s linear key-loading infinite;
-moz-animation:2s linear key-loading infinite;
}

@-webkit-keyframes key-loading{
    0% {
        -webkit-transform:rotate(0deg);
    }
    100% {
        -webkit-transform:rotate(360deg);
    }
}
@-ms-keyframes key-loading{
    0% {
        -ms-transform:rotate(0deg);
    }
    100% {
        -ms-transform:rotate(360deg);
    }
}
@-moz-keyframes key-loading{
  0% {
    -ms-transform:rotate(0deg);
  }
  100% {
    -ms-transform:rotate(360deg);
  }
}
@keyframes key-loading{
  0% {
    transform:rotate(0deg);
  }
  100% {
    transform:rotate(360deg);
  }
}

/*弹出框*/
.dialog-mask{ position:fixed; left:0; top:0; height:100%; width:100%; background:rgba(0,0,0,0.2);}
.dialog{ 
  background-color:#fff;
  width:80%; 
  box-sizing:border-box;
  -webkit-box-sizing:border-box;
  -ms-box-sizing:border-box;
  -moz-box-sizing:border-box;
  transform:translate(-50%,-50%);
  -webkit-transform:translate(-50%,-50%);
  -ms-transform:translate(-50%,-50%);
  -moz-transform:translate(-50%,-50%);
  position:absolute; left:50%; top:50%;
  padding:10px;
  border:1px solid #eee;
  border-radius:4px;
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  -ms-border-radius:4px;
  -o-border-radius:4px;
}
.dialog-message{ text-align:center; font-size:1.5em; line-height:2em; margin-top:20px;}
.dialog-btns{ display: flex; justify-content: space-around; margin-top:20px; margin-bottom:10px;}
.dialog-btns a{width:40%; }



/*slip删除结束*/
body{ background-color: #f2f2f2;}
.border－bottom-l{ border-bottom: 1px solid #ddd;}

#login-panel{ width: 80%; margin-left: auto; margin-right: auto;}
#login-panel #logo{ height: 100px;}
#login-regit-form input{ height: 44px; line-height: 44px; padding-left: 15px; display: block; background-color: #fff; box-sizing:border-box; width: 100%; border:0px; font-size: 16px;  text-shadow: none; outline: none;  }

.btn-login{ width: 100%; height: 44px; line-height: 44px; text-align: center; background-color:#146fdf; color: #fff; font-size: 16px;}
.form-feedback a{ color: #246183;}
/*tip 信息*/
.mask{position: fixed;width: 100%; height: 100%; background: rgba(0,0,0,0.2); top:0px; left: 0px;}
.tip{ position: fixed; width: 250px; height: 80px; line-height: 80px; text-align: center; background:rgba(0,0,0,0.8); 
  top:50%; left: 50%;
  border-radius:4px;
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  -ms-border-radius:10px;
  -o-border-radius:10px;
  color: #fff;
  transform:translate(-50%,-50%);
  -webkit-transform:translate(-50%,-50%); 
  -moz-transform:translate(-50%,-50%); 
  -o-transform:translate(-50%,-50%); 
  -ms-transform:translate(-50%,-50%); 
  position: relative;; }
  .close-tip{ position: absolute; top: -5px; right: -5px; color: #fff; }


#container{
  width: 500px;
  margin: 0 auto;
  margin-top: 100px;
  position: relative;
  border: 1px solid #db8e01;
  height: 500px;}
#container:hover{
  cursor : move;
}
#overlay-outter{
  position: absolute;
  width: 200px;
  height: 200px;
  left: 50%;
  top: 50%;
  transform:translate(-50%,-50%);
  border: 150px solid rgba(240,230,140,0.3);
  z-index: 3;
}
#overlay{
  width: 100%;
  height: 100%;
  border:2px solid #de3c50;
  -webkit-box-sizing: border-box;
  -moz-box-sizing:  border-box;
  -o-box-sizing:  border-box;
  -ms-box-sizing:  border-box;
  box-sizing:  border-box;
}

#overlay-inner{
  width: 100%;
  height: 100%;
}

#overlay:before,#overlay:after,#overlay-inner:before,#overlay-inner:after{
  content: '';
  display: block;
  position: absolute;
  width: 15px;
  height: 15px;
  border: 8px solid #b92c28;
}

#overlay:before{
  left: -3px;
  top: -3px;
  border-right: 0px;
  border-bottom: 0px;
}

#overlay:after{
  right: -3px;
  top: -3px;
  border-left: 0px;
  border-bottom: 0px;
}

#overlay-inner:before{
  left: -3px;
  bottom: -3px;
  border-right: 0px;
  border-top: 0px;
}

#overlay-inner:after{
  right: -3px;
  bottom: -3px;
  border-left: 0px;
  border-top: 0px;
}


#resizeImage{
  position: absolute;
  left:50%;
  top:50%;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}