.coo-btn-loadmore{
    height: 45px;
    line-height: 43px;
    box-sizing: border-box;
    text-align: center;
    position: relative;
    display: block;
    color: #454545;
    border:0px !important;
}
.coo-btn-loadmore:active,.coo-btn-loadmore-loading {
    background-color: #EEEEEE;
    color: #999999;
}
.coo-btn-loadmore-inner {
    content: " ";
    width: 200% !important;
    height: 200% !important;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    box-sizing: border-box;
    border-radius: 10px;
}
.coo-icon-label{
    position: relative;
    display: inline-block;
    height: 100%;
}
.coo-icon-loadmore{
    background-image:url('./loading.png');
    background-size: 14px 14px;
    height: 14px;
    width: 14px;
    position: absolute;
    top: 50%;
    transform: translate(-0%,-50%);
    left: -20px;
    display: none;
    animation: loading 2s linear infinite;
}

.coo-btn-loadmore-loading .coo-icon-loadmore{
    display: block;
}

@keyframes loading {
    from{
        transform:translate(-0%,-50%) rotate(0deg);
    }
    to {
        transform:translate(-0%,-50%) rotate(360deg);
    }
}
