.padding-10{
    padding: 10px;
}

.website-header{
    padding: 2em 0;
}
.website-name{
    text-align: center;
    font-size: 34px;
    color: #3cc51f;
    font-weight: 400;
    margin: 0 15%;
}
.website-desc{
    text-align: center;
    color: #888;
    font-size: 14px;
}

.shows{
}

.show-box{
    margin-bottom: 20px;
}

.shows-label{
    color: #ffffff;
    font-size: 14px;
    background-color: #CCCCCC;
    height: 30px;
    line-height: 30px;
    padding: 0px 10px;
}

.shows-content{
    padding:10px 0px ;
}
.shows-detail-key{
    color: #999;
    padding:0px 10px;
}