.padding-10{
    padding: 10px;
}

.website-header{
    padding: 2em 0;
}
.website-name{
    text-align: center;
    font-size: 34px;
    color: #3cc51f;
    font-weight: 400;
    margin: 0 15%;
}
.website-desc{
    text-align: center;
    color: #888;
    font-size: 14px;
}

.shows{
    position: relative;
}

.btn-back{
    position: absolute;
    display: block;
    padding: 5px 10px;
    background-color: #F0F0F0;
    border: 1px solid #eeeeee;
    color: #999999;
}
.btn-back:hover{
    text-decoration: underline;
}
.show-box{
    margin-bottom: 20px;
}

.shows-label{
    color: #000;
    font-size: 14px;
    background-color: #F0F0F0;
    border-top: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
    height: 30px;
    line-height: 30px;
    padding: 0px 10px;
}

.shows-content{
    padding:10px 0px ;
}
.shows-detail-key{
    color: #999;
    padding:0px 10px;
}