.pager-outter {
    background-color: #FFF;
    border: 1px solid #f0f0f0;
    border-radius: 1px;
}
.pager {
    width: 100%;
    background-color: #FFF;
}

.pager a, .pager > span {
    display: block;
    height: 40px;
    line-height: 40px;
    float: left;
}

.pager span.page {
    width: 40%;
    height: 21px;
    line-height: 21px;
    margin-top: 12px;
    box-sizing: border-box;
    border-left: 1px solid #f0f0f0;
    border-right: 1px solid #f0f0f0;
    font-size: 15px;
    color: #666;
    text-align: center;
}

span.page span {
    display: inline;
    line-height: 21px;
}

.pager .prev, .pager .next {
    width: 30%;
    text-align: center;
}

a.next:active, a.prev:active, a.next:focus, a.prev:focus, a.next:hover, a.prev:hover {
    background-color: #fafafa;
    color: #00b4ff
}

a.prev, a.next {
    color: #666;
}

span.prev, span.next {
    color: #ccc;
}