.demo--dropdown{
    .cooDropdown{
        margin-right: 20px;
    }
    .cooIcon{
        font-size: 20px;
        cursor: pointer;
    }
}

.dropdown-content{
    padding: 20px;
    font-size: 16px;
    line-height: 1.3;
    &--long{
        width: 400px;
        font-weight: 600;
        font-size: 14px;
        p{
            margin-bottom: 10px;
        }
    }
}