
.coo-select-box{
    background-color: #ffffff;
    position: relative;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    transition: all 0.4s ease-in-out;
}
.coo-select-box:active,.coo-select-box:focus,.coo-select-box-open,.coo-select-box-open .coo-select-btn{
    border-color: #57c5f7 !important;
    outline: 0;
    box-shadow: 0 0 0 2px rgba(45,183,245,.2) !important;
}
.coo-select-box-open .coo-select-btn{
    color: #57c5f7 !important;
}
.coo-select-display{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    line-height: 100% !important;
    padding: 0px 10px;
}

.coo-select-display:hover{
    color: #4395ff;
}
.coo-select-value{
    height: 100%;
    width: 100%;
    color: #000;
}
.coo-select-btn{
    position: absolute;
    height: 100% !important;
    line-height: 100% !important;
    width: 40px;
    text-align: center;
    top: 0px;
    right: 0px;
    border-left: 1px solid #CCCCCC;
    color: #CCCCCC;
    transition: all 0.4s ease-in-out;
}
.coo-select-btn i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.coo-select-dropbox{
    box-shadow: 0 1px 3px rgba(0,0,0,0.0);
    box-sizing: border-box;
    border: 1px solid transparent;
    position: absolute;
    top: 45px;
    left: 0px;
    width: 100%;
    z-index: 3;
    transition: all 0.4s ease;
    height: auto;
    max-height: 0px;
    overflow: hidden;
    border-radius: 5px;
}
.coo-select-dropbox-open{
    max-height: 500px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.2);
    border-color: #d9d9d9;
}
.coo-select-item{
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 35px;
    line-height: 35px;
    padding:0 10px;
    transition: all 0.4s ease;
    background-color: #ffffff;
    color: #878787;
}
.coo-select-item:hover,.coo-selected{
    background-color: #efefef;
}